/* .App {
  font-family: sans-serif;
  text-align: center;
}
.App {
  font-family: sans-serif;
  text-align: center; */
/* } */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 233);
  height: 300px;
  width: 500px;
  gap: 50px;
  padding: 50px;
  border-radius: 50px;
}
.item {
  display: flex;
  /* background-color: rgb(219, 223, 223); */
  gap: 50px;
}
.photo {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.users {
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 223, 223);
}
.counter2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
}
.item1 {
  background-color: rgb(67, 69, 146);
  border-radius: 5px;
  height: 35px;
}
